<div data-ng-controller="HomeCtrl">
    <div class="pure-u-1-5">
        <div id="sidebar">Sidebar Content</div>
    </div>

    <div class="pure-u-4-5">
        <div id="editor-container">
            <div>Dirty:&nbsp;<span ng-bind="dirty"></span></div>
            <div>Can undo:&nbsp;<span ng-bind="canUndo"></span></div>
            <div>Can redo:&nbsp;<span ng-bind="canRedo"></span></div>
            <h1><a href="http://ace.c9.io/">Ace</a> Editor Demo</h1>
            <div data-ace="{mode: javascript}" data-ng-model="input" data-dirty="dirty"></div>
        </div>
    </div>
</div>